.border-top{border-top: 1px solid #f6f6f6;}
.section-title {margin: auto auto 70px;}
.section-title h2 {
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.section-title p {
  font-size: 18px;
  font-style: italic;
}
.single-service {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease 0s;

  padding: 70px 40px;
}
.single-service i {
  font-size: 25px;
  margin-bottom: 20px;
}
.single-service > p {
  color: #464646;
  font-size: 20px;
  text-transform: uppercase;

  margin: 5px 0;
}
.text-highlight {background-image: linear-gradient(transparent calc(100% - 0.3em), #d3d3d3 0.3em);}
#portfolio p.large {font-size: 16px;}
#portfolio a {color: #181818;}
#portfolio .portfolio-item {
  right: 0;
  
  margin: 0 0 15px;
}
#portfolio .portfolio-item img {width: 100%;}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;

  margin: 0 auto;
}
.modal-open .modal {z-index: 999999;}
.modal-open .modal img {pointer-events: none;}
.modal-open .modal img::selection {background: none;}
@media(min-width:767px) {#portfolio .portfolio-item {margin: 0 0 30px;}}
.portfolio-modal .modal-content {
  font-family: 'MontserratRegular', sans-serif;
  min-height: 100%;
  border: 0;
  border-radius: 0;
  text-align: center;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fff;
  transition: .5s;

  padding: 100px 0;
}
.portfolio-modal .modal-content h2 {
  font-size: 48px;

  margin-bottom: 15px;
}
.portfolio-modal .modal-content p {
  font-size: 16px;

  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  font-family: 'MontserratItalic', sans-serif;
  font-size: 16px;

  margin: 20px 0 30px;
}
.portfolio-modal .modal-content ul.list-inline {
  font-size: 14px;

  margin-top: 0;
  margin-bottom: 30px;
}
.portfolio-modal .modal-content img {margin: 0px auto 30px auto;}
.portfolio-modal .close-modal {
  position: absolute;
  top: 25px; right: 25px;
  width: 75px;
  height: 75px;
  background: transparent;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {opacity: .8;}
.portfolio-modal .close-modal .left-line {
  width: 1px;
  height: 75px;
  background: #181818;
  transform: rotate(45deg);
  z-index: 1;

  margin-left: 35px;
}
.portfolio-modal .close-modal .left-line .right-line {
  width: 1px;
  height: 75px;
  background: #181818;
  transform: rotate(90deg);
  z-index: 1;
}
/* PORTFOLIO GLITCH EFFECT */
.glitch {
  position: relative;
  transform: scale3d(1, 1, 1);
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0; left: 0; right: 0;
  overflow: hidden;
  background: #fff;
  clip: rect(0, 900px, 0, 0);
}
.modal-content.dark-mode-enabled .glitch::before,
.modal-content.dark-mode-enabled .glitch::after {background: #181818;}
.glitch::before {
  left: 7px;
  text-shadow: 1px 0 green;
  animation: glitch-animation 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: 3px;
  text-shadow: -1px 0 red;
  animation: glitch-animation 2s infinite linear alternate-reverse;
}
/* PORTFOLIO DARK MODE */
.modal-content.dark-mode-enabled {background: #181818;}
.modal-content.dark-mode-enabled h2,
.modal-content.dark-mode-enabled p,
.modal-content.dark-mode-enabled a,
.modal-content.dark-mode-enabled li,
.modal-content.dark-mode-enabled span {color: #fff!important;}
.modal-content.dark-mode-enabled a {border-bottom: 1px dashed #fff!important;}
.modal-content.dark-mode-enabled .left-line,
.modal-content.dark-mode-enabled .right-line {background-color: #fff!important;}
.modal-content.dark-mode-enabled .text-highlight {background-image: none!important;}
.modal-content .modal-swipe {
  background: #181818;
  position: absolute; top: 95%; left: 0; right: 0; bottom: 0;
  transition: all .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  cursor: grab;

  padding: 0 15px;
}
.modal-content .modal-swipe:hover {top: 90%;}
.modal-content .swipe-active {background: #fff;}
.modal-content .modal-swipe p {
  color: #fff;

  margin: 0;
}
.modal-content .modal-swipe.swipe-active p {color: #181818!important;}
.modal-content .modal-swipe .swipe-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content .modal-swipe .swipe-item img {
  width: 50px;
  height: 50px;
  filter: invert();
  animation: swipe-animation 5s infinite;
  display: none;

  margin: 0;
}
.modal-content .modal-swipe .swipe-item img.item-active {filter: none;}
/* PROJECT HOVER EFFECT */
div.portfolio-hover-gray {text-align: center;}
div.portfolio-hover-gray i {
  position: absolute;
  top: 50%; left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #fff;
}
div.portfolio-hover-gray a {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
}
div.portfolio-hover-gray.overlay-gray {background-color: #333;}
div.portfolio-hover-gray.overlay-gray i {color: #333;}
div.portfolio-hover-gray:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
}
div.portfolio-hover-gray * {transition: all 0.35s ease-in-out;}
div.portfolio-hover-gray i {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
div.portfolio-hover-gray:hover i {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/* PORTFOLIO ANIMATIONS */
@keyframes glitch-animation {
  0% {clip: rect(36px, 9999px, 8px, 0);}
  5% {clip: rect(71px, 9999px, 8px, 0);}
  10% {clip: rect(59px, 9999px, 52px, 0);}
  15% {clip: rect(42px, 9999px, 66px, 0);}
  20% {clip: rect(46px, 9999px, 87px, 0);}
  25% {clip: rect(47px, 9999px, 100px, 0);}
  30% {clip: rect(60px, 9999px, 32px, 0);}
  35% {clip: rect(57px, 9999px, 70px, 0);}
  40% {clip: rect(51px, 9999px, 17px, 0);}
  45% {clip: rect(90px, 9999px, 48px, 0);}
  50% {clip: rect(61px, 9999px, 16px, 0);}
  55% {clip: rect(65px, 9999px, 39px, 0);}
  60% {clip: rect(23px, 9999px, 88px, 0);}
  65% {clip: rect(15px, 9999px, 99px, 0);}
  70% {clip: rect(61px, 9999px, 93px, 0);}
  75% {clip: rect(98px, 9999px, 16px, 0);}
  80% {clip: rect(70px, 9999px, 100px, 0);}
  85% {clip: rect(87px, 9999px, 6px, 0);}
  90% {clip: rect(18px, 9999px, 91px, 0);}
  95% {clip: rect(90px, 9999px, 16px, 0);}
  100% {clip: rect(86px, 9999px, 51px, 0);}
}
@keyframes swipe-animation {
  0% {transform: translateX(0);}
  25% {transform: translateX(-100%);}
  50% {transform: translateX(0);}
  75% {transform: translateX(100%);}
  100% {transform: translateX(0);}
}