@font-face {
    font-family: Stackyard;
    src: local(Stackyard), url(../fonts/Stackyard.ttf);
}

@font-face {
    font-family: LatoLight;
    src: local(LatoLight), url(../fonts/LatoLight.ttf);
}

@font-face {
    font-family: NightStillComes;
    src: local(NightStillComes), url(../fonts/NightStillComes.otf);
}