@media screen and (max-width: 960px) {

}
@media screen and (max-width: 720px) {
	header {
		.navigation {
			display: none;
		}
		.container {
			text-align: center;
		}
		.container-flex {
			justify-content: center;
		}
		.heading h1 {
			padding-top: 100px!important;
		}
	}
	section {
		.container.container-flex {
			display: block;
			text-align: center;
			.img {
				padding: 0;
			}
			.img img {
				max-width: 100%;
			}
			.aboutShelter {
				margin: 0 auto;
			}
		}
	}
	section.help {
		.container {
			.helpItems {
				display: block;
				padding: 0;
				.helpItem {
					padding: 20px 0;
				}
			}
		}
	}
	footer {
		.container {
			.heading {
				display: block;
				text-align: center;
			}
			div {
				padding: 0!important;
			}
		}
	}
}