*{margin: 0;padding: 0;}
body{height: 100vh;display: flex;justify-content: center;align-items: center;font-family: monospace;}
.formula{max-width: 1200px;margin: 0 auto;display: flex;justify-content: center;align-items: center;flex-direction: column;}
.formula p{font-size: 32px;text-align: center;margin-bottom: 40px;}
.rules{margin-top: 40px;}
.rules p{font-size: 16px;}
select,button,input{padding: 10px;font-family: monospace;}
select:hover,button:hover{cursor: pointer;}
select:focus,button:focus,input:focus{outline: none;}
.select-true {background: rgba(0, 255, 0, 0.1);}
.select-false {background: rgba(255, 0, 0, 0.1);}
.select-down-eleven{background: transparent;position: absolute;top: 95%;left: 0;right: 0;bottom: 0;}
.select-button-twelve{width: 15px;height: 15px;cursor: pointer;position: absolute;bottom: 100px;left: 50px;}
.statistics{margin: 0!important;}
.statistics div{margin: 20px 0;}
.statistics p{margin: 0;font-size: 24px;}
.findQuote,.random-date,.final-formula{color: red;}
.unsupported-mobile{position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: #fff;justify-content: center;align-items: center;text-align: center;display: none;}
.unsupported-mobile p{font-size: 32px;padding: 0 10%;}
@media screen and (max-width: 540px){.formula{display: none;}.unsupported-mobile{display: flex;}}