.footer-border {border-top: 1px solid #f6f6f6;} 
.footer-area {position: relative;}
.footer-info {position: relative;}
.footer-info span {
  color: #666;
  font-size: 36px;
  margin-bottom: 30px;
}
.footer-info h5 {
  color: #666;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}
.copyright p {
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
}
.footer-info ul li {
  line-height: normal;
  padding: 8px 0;
}
.footer-logo {margin-bottom: 10px;}










