.portfolio img {width: 100%;}
.portfolio {
  margin-bottom: 30px;
  position: relative;
}
.portfolio-menu button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  margin: 0 15px;
  padding: 0;
  position: relative;
  text-transform: uppercase;
}
.portfolio-left-menu button:first-child{margin-left: 0;}
.portfolio-menu button:hover:before,.portfolio-menu button.active:before {transform: scaleX(1);}
.portfolio-title {
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
.hover-style > .portfolio-img:before {
  background: rgba(0, 0, 0, 0.8);
  bottom: 15px;
  content: "";
  left: 15px;
  opacity: 0;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all 0.4s ease-in-out 0s;
}
.hover-style:hover .portfolio-img {opacity: 1;}
.portfolio-title h3 {
  font-size: 17px;
  font-weight: 100;
  transform: translateY(-10px);
  transition: all 0.4s ease-in-out 0s;
}
.portfolio-title span {
  color: #424242;
  display: inline-block;
  font-size: 15px;
  line-height: 16px;
  transform: translateY(10px);
  transition: all 0.4s ease-in-out 0s;
}
.portfolio:hover .portfolio-title {opacity: 1;}
.portfolio:hover .portfolio-title h3,.portfolio:hover .portfolio-title span {transform: translateY(0px);}
.title-style-1 {
  bottom: 0;
  padding: 0 20px;
  top: inherit;
  text-align: center;
}
.title-style-1 h3 {
  color: #fff;
  margin: 0px;
}
.title-style-1 span {
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
}
.portfolio-img {
  display: block;
  position: relative
}
.portfolio-style-2 .portfolio {box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);}
.portfolio-style-2 .portfolio-title {
  opacity: 1;
  padding: 25px 18px;
  position: static;
  transform: translateY(0%);
}
.portfolio-style-2 .portfolio-title h3,.portfolio-style-3 .portfolio-title h3 {transform: translateY(0px);}
.portfolio-style-2 .portfolio-title span,.portfolio-style-3 .portfolio-title span {transform: translateY(0px);}
 .hover-style .portfolio-img::before {
  background: #000 none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  right: 0;
  top: 0;
}
.hover-style:hover .portfolio-img:before {opacity: 0.8;}
.portfolio-view {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
 .hover-style .img-poppu {
  display: inline-block;
  height: 60px;
  opacity: 0;
  padding: 5px 25px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(20px);
  width: 60px;
  z-index: 99;
  background: url("../../img/zoom.svg") no-repeat center center;
}
.portfolio:hover .img-poppu {
  opacity: 1;
  transform: translateY(0px);
}
.hover-style .img-poppu:hover:before, .hover-style .img-poppu:hover:after {background: #000;}
.hover-style .img-poppu:after {
  height: 1px;
  width: 30px;
}
.portfolio-img > img {width: 100%;}