.border-top{border-top: 1px solid #F6F6F6;}
.section-title {
  margin: auto auto 70px;
  width: 60%;
}
.section-title h2 {
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.single-service {
  padding: 70px 40px;
  transition: all 0.6s ease 0s;
}
.single-service i {
  font-size: 25px;
  margin-bottom: 20px;
}
.single-service > h3 {
  font-size: 20px;
  text-transform: uppercase;
}