.border-top{border-top: 1px solid #F6F6F6;}
.section-title {
  margin: auto auto 70px;
}
.section-title h2 {
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.section-title p {
  font-size: 18px;
  font-style: italic;
}
.single-service {
  padding: 70px 40px;
  transition: all 0.6s ease 0s;
}
.single-service i {
  font-size: 25px;
  margin-bottom: 20px;
}
.single-service > h3 {
  font-size: 20px;
  text-transform: uppercase;
}
.text-highlight {
  position: relative;
  font-weight: inherit;
  background-image: url(../../img/bg-highlight.png);
  background-size: auto 30%;
  background-repeat: repeat-x;
  background-position: bottom;
}
#portfolio p.large {font-size: 16px;}
#portfolio a {color: #181818;}
#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}
#portfolio .portfolio-item img {
  width: 100%;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease .5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {opacity: 1;}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {margin-top: -12px;}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {margin: 0;}
#portfolio .portfolio-item .portfolio-caption {
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  text-align: center;
  background-color: #f6f6f6;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}
#portfolio .portfolio-item .portfolio-caption p {
  margin: 0;
  font-size: 16px;
  font-style: italic;
}
.modal-open .modal {z-index: 999999;}
.modal-open .modal img {pointer-events: none;}
.modal-open .modal img::selection {background: none;}
@media(min-width:767px) {
    #portfolio .portfolio-item {margin: 0 0 30px;}
}
.portfolio-modal .modal-content {
  font-family: 'MontserratRegular', sans-serif;
  padding: 100px 0;
  min-height: 100%;
  border: 0;
  border-radius: 0;
  text-align: center;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fff;
  transition: .5s;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  font-size: 16px;
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  font-family: 'MontserratItalic', sans-serif;
  margin: 20px 0 30px;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 30px;
}
.portfolio-modal .modal-content img {margin: 0px auto 30px auto;}
.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  background-color: transparent;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {opacity: .8;}
.portfolio-modal .close-modal .left-line {
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  background-color: #181818;
  transform: rotate(45deg);
}
.portfolio-modal .close-modal .left-line .right-line {
  z-index: 1052;
  width: 1px;
  height: 75px;
  background-color: #181818;
  transform: rotate(90deg);
}
.dark-mode-active {
  display: block!important;
  width: 75px;
  z-index: 9999999;
  position: fixed;
  top: 30px;
  left: 30px;
}
.glitch {
  position: relative;
  transform: scale3d(1, 1, 1);
}
.glitch::before, .glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #fff;
  clip: rect(0, 900px, 0, 0);
}
.modal-content.dark-mode-enabled .glitch::before, .modal-content.dark-mode-enabled .glitch::after {background: #181818;}
.glitch::before {
  left: 7px;
  text-shadow: 1px 0 green;
  animation: glitch-animation 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: 3px;
  text-shadow: -1px 0 red;
  animation: glitch-animation 2s infinite linear alternate-reverse;
}
@keyframes glitch-animation {
  0% {clip: rect(36px, 9999px, 8px, 0);}
  5% {clip: rect(71px, 9999px, 8px, 0);}
  10% {clip: rect(59px, 9999px, 52px, 0);}
  15% {clip: rect(42px, 9999px, 66px, 0);}
  20% {clip: rect(46px, 9999px, 87px, 0);}
  25% {clip: rect(47px, 9999px, 100px, 0);}
  30% {clip: rect(60px, 9999px, 32px, 0);}
  35% {clip: rect(57px, 9999px, 70px, 0);}
  40% {clip: rect(51px, 9999px, 17px, 0);}
  45% {clip: rect(90px, 9999px, 48px, 0);}
  50% {clip: rect(61px, 9999px, 16px, 0);}
  55% {clip: rect(65px, 9999px, 39px, 0);}
  60% {clip: rect(23px, 9999px, 88px, 0);}
  65% {clip: rect(15px, 9999px, 99px, 0);}
  70% {clip: rect(61px, 9999px, 93px, 0);}
  75% {clip: rect(98px, 9999px, 16px, 0);}
  80% {clip: rect(70px, 9999px, 100px, 0);}
  85% {clip: rect(87px, 9999px, 6px, 0);}
  90% {clip: rect(18px, 9999px, 91px, 0);}
  95% {clip: rect(90px, 9999px, 16px, 0);}
  100% {clip: rect(86px, 9999px, 51px, 0);}
}
.modal-content.dark-mode-enabled {background: #181818;}
.modal-content.dark-mode-enabled h2,
.modal-content.dark-mode-enabled p,
.modal-content.dark-mode-enabled a,
.modal-content.dark-mode-enabled li,
.modal-content.dark-mode-enabled span {color: #fff!important;}
.modal-content.dark-mode-enabled a {border-bottom: 1px solid #fff!important;}
.modal-content.dark-mode-enabled .left-line,
.modal-content.dark-mode-enabled .right-line {background-color: #fff!important;}
.modal-content.dark-mode-enabled .text-highlight {background-image: none!important;}
.modal-content .modal-swipe {
  background: #181818;
  position: absolute;
  top: 95%;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  cursor: grab;

  padding: 0 15px;
}
.modal-content .modal-swipe:hover {top: 90%;}
.modal-content .swipe-active {background: #fff;}
.modal-content .modal-swipe p {
  color: #fff;

  margin: 0;
}
.modal-content .modal-swipe.swipe-active p {color: #181818!important;}
.modal-content .modal-swipe .swipe-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content .modal-swipe .swipe-item img {
  width: 50px;
  height: 50px;
  filter: invert();
  animation: swipe-animation 5s infinite;
  display: none;

  margin: 0;
}
.modal-content .modal-swipe .swipe-item img.item-active {filter: none;}

@keyframes swipe-animation {
  0% {transform: translateX(0);}
  25% {transform: translateX(-100%);}
  50% {transform: translateX(0);}
  75% {transform: translateX(100%);}
  100% {transform: translateX(0);}
}