/* DEFAULT */

* {
	box-sizing: border-box;
	
	padding: 0;
	margin: 0;
}
body {font-family: 'Montserrat', sans-serif;}

/* CUSTOM SCROLLBAR */

body::-webkit-scrollbar {
	width: 10px;
	background-color: rgba(55, 0, 71, 0.8);
}
body::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 10px;
}
body::-webkit-scrollbar-track {background: rgba(55, 0, 71, 0.8);}
a, li {
	text-decoration: none;
	list-style: none;
}
img {pointer-events: none;}
.container {
	max-width: 1400px;
	
	margin: 0 auto;
}

/* HEADER */

header {
	height: 100vh;
	background: rgb(173, 60, 174);
	background: linear-gradient(120deg, rgba(173, 60, 174, 1) 0%, rgba(131, 18, 165, 1) 100%);
}
header nav {
	display: flex;
	justify-content: flex-end;
}
nav.sticky-navbar {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0; left: 0; right: 0;
	background: rgba(55, 0, 71, 0.8);
	transition: 1s;
	z-index: 999;
	
	padding: 30px 0;
}
header a {
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	background: linear-gradient(to bottom, #fff 0%, #fff 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 0px 0px;
	transition: .5s;

	padding: 0px 15px;
}
header a:hover {
	background-size: 100% 100%;
	color: #601068;
}
header .header-text {
	text-align: right;

	padding-top: 250px;
}
header .header-text h1 {
	color: #fff;
	font-size: 110px;
	line-height: 1;
}
header .header-text p {
	color: #fff;
	font-size: 18px;

	margin-top: 30px;
}
header .header-image {
	background: url('../img/backgroundHeader.png') no-repeat;
	background-size: contain;
	height: 100vh;
}

/* HEADER MOBILE MENU */

.mobile-navigation ul {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	color: #fff;
	font-size: 48px;
	z-index: 999;
}
.nav-toggle {
	display: none;
	cursor: pointer;
	position: fixed;
	top: 30px; right: 30px;
	width: 70px;
	height: 70px;
	border: none;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
	z-index: 9999;
}
.nav-toggle > span {
	display: inline-block;
	position: relative;
	height: 2px;
	width: 34px;
	border-radius: 1px;
	background: #370047;
	vertical-align: middle;
}
.nav-toggle > span:before, .nav-toggle > span:after {
	display: inline-block;
	position: absolute;
	content: '';
	height: 2px;
	background: #370047;
	transition: all 200ms;
}
.nav-toggle > span:before {
	top: -11px; left: 3px;
	width: 28px;
}
.nav-toggle > span:after {
	top: 11px; left: 6px;
	width: 22px;
}
.nav-toggle:focus {outline: none;}
.nav-toggle:hover > span:after, .nav-toggle:hover > span:before {
	width: 34px;
	left: 0;
}
.mobile-navigation:before {
	display: block;
	position: fixed;
	top: 0; left: 0;
	content: '';
	width: 100vw;
	height: 100vh;
	background: #370047;
	clip-path: circle(30px at calc(100% - 65px) 65px);
	visibility: hidden;
}
.header-menu.active .mobile-navigation:before {
	visibility: visible;
	clip-path: circle(100%);
	z-index: 999;
}
.header-menu.active .nav-toggle > span {height: 0;}
.header-menu.active .nav-toggle > span:after, .header-menu.active .nav-toggle > span:before {
	top: 0px; left: 0;
	width: 34px;
}
.header-menu.active .nav-toggle > span:after {transform: rotate(-45deg);}
.header-menu.active .nav-toggle > span:before {transform: rotate(45deg);}

/* MAIN */

main {background: #fff;}
main .main-symptoms {
	background: url('../img/backgroundSymptoms.png') no-repeat;
	background-size: cover;
}
main .main-text {
	color: #333;
	text-align: center;

	margin-top: 100px;
}
main .main-text h2 {
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
}
main .main-text p {
	font-size: 24px;
	font-style: italic;

	margin-top: 20px;
}
main .main-card {
	display: flex;
	justify-content: space-around;
	text-align: center;

	padding: 150px 0 300px 0;
}
main .main-card .card-item {
	max-width: 250px;
	transition: 1s;
}
main .main-card .card-item:hover {transform: translateY(-20px);}
main .main-card .card-item img {
	background: #4430CB;
	box-shadow: 4px 4px 8px 0px rgba(74, 53, 220, 0.4);
	border: 10px solid;
	border-image-slice: 1;
	border-width: 3px;
	border-image-source: linear-gradient(to left, #743AD5, #D53A9D);
}
main .main-card .card-item h3 {
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;

	margin-top: 30px;
}
main .main-card .card-item p {
	color: #333;
	font-size: 16px;
	font-style: italic;

	margin-top: 10px;
}
main .main-protection {
	background: url('../img/backgroundProtection.png') no-repeat;
	background-size: cover;
}

/* FOOTER */

footer {
	background: url('../img/backgroundFooter.png') no-repeat;
	background-size: cover;
}
footer .container {text-align: center;}
footer .footer-text {color: #fff;}
footer .footer-text  h2 {
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
}
footer .footer-text p {
	font-size: 24px;
	font-style: italic;

	margin: 20px 0 60px 0;
}
footer .footer-form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 600px;
	background: #fff;
	border-radius: 50px;

	margin: 0 auto;
}
footer .footer-form input {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	color: #370047;
	font-style: italic;
	background: none;
	border: none;

	padding: 25px 40px;
}
footer .footer-form input::placeholder {color: #8312A5;}
footer .footer-form input:focus {outline: none;}
footer .footer-form .form-button {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	border-radius: 50px;
	border: none;
	cursor: pointer;


	padding: 20px 50px;
	margin: 0 10px;
}
footer .footer-form .form-button a {color: #fff;}
footer .footer-form .form-button {
  position: relative;
  background-image: linear-gradient(to left, #743AD5, #D53A9D);
  z-index: 1;
}

footer .footer-form .form-button::before {
  position: absolute;
  content: '';
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: linear-gradient(to left, #D53A9D, #743AD5);
  z-index: -1;
  transition: opacity 0.5s linear;
  border-radius: 50px;
  opacity: 0;
}
footer .footer-form .form-button:hover::before {opacity: 1;}
footer .footer-form .form-button:focus {outline: none;}
footer .footer-icons {margin-top: 160px;}
footer .footer-icons img {
	width: 25px;

	margin: 0 10px;
}
footer .footer-create {
	font-size: 12px;
	font-weight: 700;
	color: #333;
	text-align: center;
	text-transform: uppercase;

	padding: 20px 0;
}
footer .footer-create a {
	color: #601068;
	border-bottom: 1px solid #601068;
}

/* PRELOADER */

#preloader-load {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	background: #370047;
	z-index: 99999;
}
.preloader-load {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: linear-gradient(#D53A9D, #8312A5, #743AD5);
	animation: preloader-animation 1s linear infinite;
}
.preloader-load span {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: linear-gradient(#D53A9D, #8312A5, #743AD5);
}
.preloader-load span:nth-child(1) {filter: blur(5px);}
.preloader-load span:nth-child(2) {filter: blur(10px);}
.preloader-load::after {
	content: '';
	position: absolute;
	top: 10px; left: 10px; right: 10px; bottom: 10px;
	background: #370047;
	border-radius: 50%;
}

/* ANIMATIONS */

@keyframes preloader-animation {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

/* MEDIA QUERIES */
/* IF WIDTH < 1540PX */

@media screen and (max-width: 1540px) {
	header .header-image {background: none;}
	header nav {justify-content: center;}
	header .header-text {text-align: center;}
	main .container {margin: 0 5%;}
	main .main-card .card-item {margin: 0 10px;}
}

/* IF WIDTH < 960PX */

@media screen and (max-width: 960px) {
	header nav#navigation {display: none;}
	nav.sticky-navbar {display: none;}
	.nav-toggle {display: inline-block!important;}
	main .main-symptoms {background: linear-gradient(0deg, rgba(131, 18, 165, 1) 0%, rgba(173, 60, 174, 1) 100%);}
	main .main-protection {background: linear-gradient(0deg, rgba(173, 60, 174, 1) 0%, rgba(131, 18, 165, 1) 100%);}
	main .main-text {margin: 0;}
	main .main-text h2 {color: #fff;}
	main .main-symptoms .main-text h2 {padding-top: 120px;}
	main .main-text p {color: #fff;}
	main .main-card {
		display: block;

		padding: 50px 0 200px 0;
	}
	main .main-card .card-item {
		margin: 0 auto;
		padding: 30px 0;
	}
	main .main-card .card-item h3 {margin-top: 10px;}
	footer {background: linear-gradient(0deg, rgba(131, 18, 165, 1) 0%, rgba(173, 60, 174, 1) 100%);}
	footer .footer-create {color: #fff;}
	footer .footer-create a {
		color: #fff;
		border-bottom: 1px solid #fff;
	}
	footer .footer-icons {
		display: flex;
		justify-content: center;
	}
	footer .footer-icons a {
		display: flex;
		justify-content: center;
		align-items: center;
		background: #fff;
		border-radius: 50px;
		width: 50px;
		height: 50px;

		margin: 0px 5px;
	}
}

/* IF WIDTH < 760PX */

@media screen and (max-width: 760px) {
	header .container {padding: 0 5%;}
	header .header-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100vh;

		padding: 0;
	}
	header .header-text h1 {
		font-size: 60px;
		text-transform: uppercase;
	}
	header .header-text p {font-size: 16px;}
	header .header-padding {display: none;}
}

/* IF WIDTH < 576PX */

@media screen and (max-width: 576px) {
	header .container {padding: 0 10%;}
	header .header-text h1 {font-size: 40px;}
	main .main-text h2 {font-size: 36px;}
	main .main-text p {font-size: 16px;}
	footer .footer-text h2 {font-size: 36px;}
	footer .footer-text p {font-size: 16px;}
	footer .footer-form {
		display: block;
		width: 90%;

		padding: 5% 0;
	}
	footer .footer-form input {
		width: 100%;

		padding: 25px 25px;
	}
	footer .footer-form .form-button {
		width: 80%;

		margin: 10px auto;
	}
	footer .footer-form input::placeholder {text-align: center;}
}
/* IF WIDTH < 300PX */

@media screen and (max-width: 576px) {
	header .header-text h1 {font-size: 32px;}
	footer .footer-text p {padding: 0 5%;}
}