* {
	padding: 0;
	margin: 0;
}
body {
	height: 100vh;
	background: #fff;
	font-family: 'Montserrat', sans-serif;
	background: url('../img/background.jpg') no-repeat;
	background-size: cover;
}
a {
	text-decoration: none;
	font-size: 26px;
	color: #ccc;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
a:hover {
	color: #ffc01f;
}
li {
	list-style: none;
}
header {
	padding-top: 80px;
	display: flex;
	align-items: center;
}
.backgoundg-mousemove {
	background: url('../img/background.png') no-repeat;
	background-size: cover;
	height: 100vh;
}
header .logo {
	color: #ffc01f;
	font-size: 48px;
	font-weight: 900;
	padding-left: 225px;
	cursor: pointer;
}
header .adaptive-menu {
	color: #ffc01f;
	display: none;
}
.mobile-menu {
	display: block;
	text-align: center;
	height: 100%;
	width: 100%;
	padding: 0;
}
header .adaptive-menu i {
	font-size: 40px;
	cursor: pointer;
}
header nav {
	display: flex;
	justify-content: space-between;
	padding-left: 260px;
}
header nav li:not(:first-child) {
	padding-left: 50px;
}
main .main-content {
	max-width: 750px;
	padding-left: 225px;
	color: #fff;
}
main .main-content h1 {
	font-family: 'Fredoka One', cursive;
	font-size: 77px;
	color: #ffc01f;
	margin-top: 250px;
	letter-spacing: 10px;
}
main .main-content p {
	font-size: 22px;
	color: #b1b1b1;
	font-weight: 400;
	letter-spacing: 3px;
}
main .main-content button {
	font-family: inherit;
	padding: 23px 33px;
	background: #ffc600;
	border: none;
	border-radius: 50px;
	color: #fff;
	font-size: 21px;
	font-weight: 700;
	cursor: pointer;
	margin-top: 40px;
}
main .main-content button:focus {
	outline: none;
}
main .main-content button:hover {
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
	color: #fff;
	transform: translateY(-7px);
}
/* MEDIA QUERIES* /
/* media if width <1440px */
@media screen and (max-width: 1440px) {
	a {
		font-size: 20px;
	}
	header .logo {
		padding-left: 60px;
	}
	header nav {
		padding-left: 60px;
	}
	main .main-content {
		padding-left: 50px;
	}
	main .main-content p {
		padding: 10px 30px;
	}
	main .main-content button:focus {
		margin-top: 30px;
	}
	main .main-content h1 {
		margin-top: 150px;
	}
}
/* media if width <960px */
@media screen and (max-width: 960px) {
	header {
		flex-direction: column;
	}
	header .logo {
		padding-left: 0;
	}
	header nav {
		padding-left: 0;
		margin-top: 30px;
	}
	main .main-content {
		padding: 0;
		margin: 0 auto;
		text-align: center;
	}
}
/* media if width <720px */
@media screen and (max-width: 720px) {
	header nav {
		display: none;
	}
	header nav li:not(:first-child) {
		padding: 10px 0;
	}
	header nav li {
		padding: 10px 0;
	}
	header .adaptive-menu {
		display: block;
	}
	main .main-content h1 {
		font-size: 50px;
	}
	main .main-content p {
		font-size: 16px;
		color: #000;
	}
}
/* media if width <540px */
@media screen and (max-width: 540px) {
	header {
		padding-top: 40px;
	}
	main .main-content h1 {
		margin-top: 100px;
	}
	main .main-content button {
		font-size: 16px;
	}
}