@media screen and (max-width: 320px) {
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2rem;
	}
	.btn {
		padding: 15px 25px;
	}
}
@media only screen and (min-width: 661px) and (max-width: 805px) {	
	.flex-wrapper {
		padding-left: 5%;
		padding-right: 5%;
	}
	
	.flex-grid {flex-flow: row wrap;}
	
	.t-col-4,
	.t-col-6,
	.t-col-12 {margin-top: 2rem;}
	
	.t-col-4 		{width: 31.46%;}
	.t-col-12 		{width: 100%;}
	
	.flex-grid:first-child .t-col-4,
	.flex-grid:first-child .t-col-6,
	.flex-grid:first-child .t-col-12 {
		 margin-top: 0;
	}
}
@media only screen and (min-width: 0px) and (max-width: 880px) {
	.flex-wrapper {
		padding-left: 3%;
		padding-right: 3%;
	}
	
	.flex-grid {flex-flow: row wrap; display: block;}
	
	.m-col-6,
	.m-col-12 {margin-top: 2rem;}
	
	/*.m-col-6 		{width: 47.2%;}
	.m-col-12 		{width: 100%;}*/
	
	.flex-grid:first-child .m-col-6,
	.flex-grid:first-child .m-col-12 {
		 margin-top: 0;
	}
	.flex-container {
		flex-wrap: wrap;
	}
	.description {
		padding-top: 0;
	}
	.coffe, .boots, .headphones, .backpack {
		padding-top: 10%;
	}
	input {
		padding: 0;
	}
}
@media only screen and (min-width: 0px) and (max-width: 330px) {
	form {
		display: block;
		border: none;
	}
	.align-container div input {
		display: block;
		padding-bottom: 30px;
	}
}